@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9670 0.0029 264.5419);
    --foreground: oklch(0 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2126 0.0066 314.6771);
    --popover: oklch(0.9448 0.0400 317.0001);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5239 0.2468 323.5352);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.5239 0.2468 323.5352);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.8578 0.0317 291.7061);
    --muted-foreground: oklch(0.4584 0.0162 314.6550);
    --accent: oklch(0.8104 0.0420 290.0160);
    --accent-foreground: #ff;
    --destructive: oklch(0.4289 0.1760 29.2339);
    --destructive-foreground: oklch(0.9213 0.0045 314.8032);
    --border: oklch(0.9006 0 0);
    --input: oklch(0.8720 0.0106 261.7873);
    --ring: oklch(0.6416 0.1453 316.4314);
    --chart-1: oklch(0.6471 0.2173 36.8511);
    --chart-2: oklch(0.6049 0.1070 184.1653);
    --chart-3: oklch(0.3972 0.0698 227.1914);
    --chart-4: oklch(0.8290 0.1712 81.0381);
    --chart-5: oklch(0.7724 0.1728 65.3670);
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.1448 0 0);
    --sidebar-primary: oklch(0.2046 0 0);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9219 0 0);
    --sidebar-ring: oklch(0.7090 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
    --background: oklch(0.2013 0.0583 318.2782);
    --foreground: oklch(0.9213 0.0045 314.8032);
    --card: oklch(0 0 0);
    --card-foreground: oklch(0.9213 0.0045 314.8032);
    --popover: oklch(0.2013 0.0583 318.2782);
    --popover-foreground: oklch(0.9213 0.0045 314.8032);
    --primary: oklch(0.6416 0.1453 316.4314);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2040 0.0333 316.7850);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.2367 0.0436 286.5467);
    --muted-foreground: oklch(0.6757 0.0166 315.9341);
    --accent: oklch(0.2367 0.0436 286.5467);
    --accent-foreground: oklch(0.9213 0.0045 314.8032);
    --destructive: oklch(0.4289 0.1760 29.2339);
    --destructive-foreground: oklch(0.9213 0.0045 314.8032);
    --border: oklch(0.2818 0.0563 315.8519);
    --input: oklch(0.2818 0.0563 315.8519);
    --ring: oklch(0.6416 0.1453 316.4314);
    --chart-1: oklch(0.4878 0.2432 264.4045);
    --chart-2: oklch(0.7019 0.1577 160.4375);
    --chart-3: oklch(0.7724 0.1728 65.3670);
    --chart-4: oklch(0.6217 0.2589 305.3090);
    --chart-5: oklch(0.6435 0.2452 16.5010);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.4878 0.2432 264.4045);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(1.0000 0 0);
    --sidebar-ring: oklch(0.5555 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@theme {
    --color-paul-50: oklch(0.979 0.007 304.244);
    --color-paul-100: oklch(0.957 0.02 315.669);
    --color-paul-200: oklch(0.911 0.036 314.633);
    --color-paul-300: oklch(0.842 0.068 316.536);
    --color-paul-400: oklch(0.747 0.11 316.912);
    --color-paul-500: oklch(0.643 0.146 316.917);
    --color-paul-600: oklch(0.534 0.15 317.191);
    --color-paul-700: oklch(0.474 0.137 318.025);
    --color-paul-800: oklch(0.278 0.03 256.848);
    --color-paul-900: oklch(0.21 0.032 264.665);
    --color-paul-950: oklch(0.165 0.025 265.002);
}
